/__pycache__/
/.venv
/data
/data_new
/data_utils
# /models
/models_firstversion
/models_secondversion
uv.lock

# latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
neurips_2025.pdf